[Unit]
Description=Krusty Mako private IPC socket
Before=krusty-mako.service

[Socket]
ListenStream=%t/krusty/mako.sock
SocketMode=0600
DirectoryMode=0700
RemoveOnStop=true
Service=krusty-mako.service

[Install]
WantedBy=sockets.target
