pkgbase = krusty
	pkgdesc = Mitsuro multi-platform AI coding product with Agent and Hive
	pkgver = 0.7.3
	pkgrel = 1
	url = https://github.com/honeycomb-Technologies/Krusty
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	source = krusty-0.7.3.tar.gz::https://github.com/honeycomb-Technologies/Krusty/archive/refs/tags/v0.7.3.tar.gz
	sha256sums = 7f21b43dab2607d8864de641e7f11c920e73fdaee378f9c1115dadf4760fcbfa

pkgname = krusty
