pkgbase = mitsuro
	pkgdesc = Mitsuro multi-platform AI coding product with Agent and Hive
	pkgver = UNRELEASED
	pkgrel = 1
	url = https://github.com/honeycomb-Technologies/Mitsuro
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = cargo
	depends = gcc-libs
	depends = openssl
	provides = krusty
	conflicts = krusty

pkgname = mitsuro
